.display-divs {
    max-width: 555px;
    margin: auto;
    padding-top: 10%;
}

.disappear-animation {
    animation-name: disappear;
    animation-duration: 1.25s;
    animation-delay: 0.25s;
    animation-fill-mode: forwards;
}

.display-divs-items {
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.4);

    border-radius: 10px;
}

.display-divs h1 {
    color: white;
    padding-bottom: 25px;
    text-align: center;
}

button.display-div {
    padding: 70px;
}

@keyframes disappear{
    0%{
      opacity: 1;
    }
    
    100%{
      display: none;
      opacity: 0;
    }
}