.result {
    min-width: 375px;
    margin: auto;
    padding-top: 12%;
}

.result h1 {
    text-align: center;
    font-size: 30px;
    color: purple;
}

.description {
    font-style: bold;
    font-size: 17px;
}